marksheet.dtd

<!ELEMENT Order Detail (course+)>
<!ELEMENT course (courseid,title,CRD,EDORPR,TW,OE,total)>
<!ELEMENT orderid (#CDATA)>
<!ELEMENT buyerid (#CDATA)>
<!ELEMENT buyer name (#CDATA)>
<!ELEMENT Phone no (#PCDATA)>
<!ELEMENT Status (#PCDATA)>
<!ELEMENT Country (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT Zipcode (#PCDATA)>
<!ELEMENT Address (#PCDATA)>
